/* BEGIN Thin */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Thin/Roboto-Thin.woff2?v=1.1.0") format("woff2"), url("../fonts/Thin/Roboto-Thin.woff?v=1.1.0") format("woff"), url("../fonts/Thin/Roboto-Thin.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Thin */
/* BEGIN Light */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Light/Roboto-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/Light/Roboto-Light.woff?v=1.1.0") format("woff"), url("../fonts/Light/Roboto-Light.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/LightItalic/Roboto-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/LightItalic/Roboto-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/LightItalic/Roboto-LightItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("../fonts/Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../fonts/Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("../fonts/Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Italic/Roboto-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/Italic/Roboto-Italic.woff?v=1.1.0") format("woff"), url("../fonts/Italic/Roboto-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("../fonts/Italic/Roboto-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/Italic/Roboto-Italic.woff?v=1.1.0") format("woff"), url("../fonts/Italic/Roboto-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Medium/Roboto-Medium.woff2?v=1.1.0") format("woff2"), url("../fonts/Medium/Roboto-Medium.woff?v=1.1.0") format("woff"), url("../fonts/Medium/Roboto-Medium.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: normal; }
/* END Medium */
/* BEGIN Medium Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/MediumItalic/Roboto-MediumItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/MediumItalic/Roboto-MediumItalic.woff?v=1.1.0") format("woff"), url("../fonts/MediumItalic/Roboto-MediumItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: italic; }
/* END Medium Italic */
/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Bold/Roboto-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/Bold/Roboto-Bold.woff?v=1.1.0") format("woff"), url("../fonts/Bold/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../fonts/Bold/Roboto-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/Bold/Roboto-Bold.woff?v=1.1.0") format("woff"), url("../fonts/Bold/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/BoldItalic/Roboto-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/BoldItalic/Roboto-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/BoldItalic/Roboto-BoldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("../fonts/BoldItalic/Roboto-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/BoldItalic/Roboto-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/BoldItalic/Roboto-BoldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Black/Roboto-Black.woff2?v=1.1.0") format("woff2"), url("../fonts/Black/Roboto-Black.woff?v=1.1.0") format("woff"), url("../fonts/Black/Roboto-Black.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: normal; }
/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/BlackItalic/Roboto-BlackItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/BlackItalic/Roboto-BlackItalic.woff?v=1.1.0") format("woff"), url("../fonts/BlackItalic/Roboto-BlackItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: italic; }
/* END Black Italic */
/**
 * Color variables
*/
/**
 *
 * Sizes
 *
 */
/**
 *
 * Columns
 */
/**
 *
 *
 *
 */
.bg-sdw, button.important, .btn.important, .btn.important:hover, .btn.important:visited, .btn.important:focus, #main-menu, .rows > *, .columns > * {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75); }

.no-sdw, .columns > .rows {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.fg-sdw, button.important.fg, .btn.important.fg, .btn.important.fg:hover, .btn.important.fg:visited, .btn.important.fg:focus, .card input {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75); }

/**
 *
 * Fonts
 *
 */
.font-title, h1 {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  font-size: 45px; }

.font-button, button, .btn, .btn:hover, .btn:visited, .btn:focus, #main-menu nav > a, .card input:not([type="button"]) {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase; }
  @media (max-width: 799px) {
    .font-button, button, .btn, .btn:hover, .btn:visited, .btn:focus, #main-menu nav > a, .card input:not([type="button"]) {
      font-size: 16px; } }
  @media (min-width: 1001px) and (max-width: 1200px) {
    .font-button, button, .btn, .btn:hover, .btn:visited, .btn:focus, #main-menu nav > a, .card input:not([type="button"]) {
      font-size: 16px; } }

.font-subheading, h2, h3, h4, h5, h6, .card > h2, .card h3 {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase; }

.font-body, body, body {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px; }

.font-link, a, a:visited, a:hover, a:focus {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  text-decoration: underline; }

em {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal; }

.color-secondary {
  color: #ffb74d; }

ul.unstyled {
  padding: 0; }
  ul.unstyled > li {
    padding: 0;
    margin: 2px;
    list-style: none; }
    ul.unstyled > li:after {
      clear: both; }

.right {
  float: right; }

.left {
  float: left; }

ul.dashed {
  list-style-type: none; }

ul.dashed > li {
  text-indent: -5px; }

ul.dashed > li:before {
  content: "-";
  text-indent: -5px; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #eceff1; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.outline-primary {
  border: 5px solid #7986cb; }

.outline-secondary, #main-menu .user-picture {
  border: 5px solid #ffb74d; }

.foreground {
  background-color: white; }

h2, h3, h4, h5, h6 {
  margin: 0; }

.upper {
  text-transform: uppercase; }

/**
 * Color variables
*/
/**
 *
 * Sizes
 *
 */
/**
 *
 * Columns
 */
/**
 *
 *
 *
 */
.bg-sdw, button.important, .btn.important, .btn.important:hover, .btn.important:visited, .btn.important:focus, #main-menu, .rows > *, .columns > * {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75); }

.no-sdw, .columns > .rows {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.fg-sdw, button.important.fg, .btn.important.fg, .btn.important.fg:hover, .btn.important.fg:visited, .btn.important.fg:focus, .card input {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75); }

button, .btn, .btn:hover, .btn:visited, .btn:focus {
  height: 45px;
  line-height: 45px;
  /* Basic button has white background*/
  background-color: white;
  color: #7986cb;
  border: none;
  width: 250px;
  text-align: center;
  border: 1px solid white;
  padding: 0;
  margin: 0 5px 5px 0;
  display: inline-block;
  cursor: pointer; }
  button.autosize, .btn.autosize, .btn:hover.autosize, .btn:visited.autosize, .btn:focus.autosize {
    width: auto;
    padding: 0 22.5px; }
    button.autosize:active, .btn.autosize:active, .btn:hover.autosize:active, .btn:visited.autosize:active, .btn:focus.autosize:active {
      border: 1px solid white;
      padding: 0 22.5px; }
  @media (min-width: 1001px) and (max-width: 1200px) {
    button, .btn, .btn:hover, .btn:visited, .btn:focus {
      width: 180px;
      height: 45px;
      line-height: 45px; } }
  @media (max-width: 799px) {
    button, .btn, .btn:hover, .btn:visited, .btn:focus {
      width: 180px;
      height: 45px;
      line-height: 45px; } }
  button:active, button.active, .btn:active, .btn.active, .btn:hover:active, .btn:hover.active, .btn:visited:active, .btn:visited.active, .btn:focus:active, .btn:focus.active {
    border: 1px solid #bdbdbd;
    border-right: 5px solid #7986cb;
    padding: 0; }
  button.revert, .btn.revert, .btn:hover.revert, .btn:visited.revert, .btn:focus.revert {
    background-color: #7986cb;
    color: white;
    border: none;
    width: 250px;
    text-align: center;
    border: 1px solid #7986cb; }
    button.revert:active, .btn.revert:active, .btn:hover.revert:active, .btn:visited.revert:active, .btn:focus.revert:active {
      border: 1px solid #7986cb;
      padding: 0; }

.img-circle, #main-menu .user-picture {
  border-radius: 50%; }

body, .columns {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  width: 100%; }
  @media (max-width: 799px) {
    body, .columns {
      flex-direction: column;
      /* affichage vertical */ } }

#main-menu {
  flex-basis: 250px;
  min-width: 250px;
  margin-left: 20px;
  background-color: white;
  text-align: center;
  padding-bottom: 45px; }
  @media (min-width: 1001px) and (max-width: 1200px) {
    #main-menu {
      flex-basis: 180px;
      min-width: 180px; } }
  @media (max-width: 799px) {
    #main-menu {
      flex-basis: 100%;
      margin: 0 0 0 0;
      padding-bottom: 0;
      margin-bottom: 20px; } }
  @media (max-width: 799px) {
    #main-menu.off .welcome, #main-menu.off .user-picture, #main-menu.off nav {
      display: none;
      height: 0;
      -webkit-transition: height 0.7s ease-out;
      transition: height 0.7s ease-out; } }
  @media (max-width: 799px) {
    #main-menu #logo-container {
      display: flex; } }
  #main-menu .more {
    display: none; }
    @media (max-width: 799px) {
      #main-menu .more {
        display: block;
        width: auto;
        text-align: right;
        line-height: 90px;
        flex: 2 0px;
        padding-right: 1em; } }
    #main-menu .more img {
      height: 30px; }
  #main-menu > div, #main-menu > nav {
    margin-bottom: 45px; }
    #main-menu > div:last-child, #main-menu > nav:last-child {
      margin-bottom: 0; }
  #main-menu .logo, #main-menu .user-picture {
    display: block;
    margin: 0 auto; }
  @media (max-width: 799px) {
    #main-menu .logo {
      flex: 1 auto; } }
  #main-menu .logo > img {
    margin-top: 10px;
    width: 90%;
    margin: 5%; }
    @media (max-width: 799px) {
      #main-menu .logo > img {
        margin: 0;
        height: 90px;
        width: auto; } }
  #main-menu .user-picture {
    width: 70%; }
    @media (max-width: 799px) {
      #main-menu .user-picture {
        width: 40%; } }
  #main-menu nav {
    border-top: 1px solid #bdbdbd; }
    #main-menu nav > .news {
      padding: 5px;
      min-height: 45px;
      border-bottom: 1px solid #bdbdbd;
      border-right: 5px solid #ffb74d;
      font-size: 14px; }
    #main-menu nav > a {
      display: block;
      height: 45px;
      line-height: 45px;
      border-bottom: 1px solid #bdbdbd; }
      #main-menu nav > a.active, #main-menu nav > a:active {
        border-right: 5px solid #7986cb; }

#main-wrapper {
  flex: 1 1 auto;
  /* occupe la hauteur restante */ }
  #main-wrapper > #container {
    padding: 110px 110px 0 110px; }
    @media (min-width: 1001px) and (max-width: 1200px) {
      #main-wrapper > #container {
        padding: 25px 25px 0 25px; } }
    @media (min-width: 800px) and (max-width: 1000px) {
      #main-wrapper > #container {
        padding: 25px 25px 0 25px; } }
    @media (max-width: 799px) {
      #main-wrapper > #container {
        padding: 0; } }
    #main-wrapper > #container > header {
      color: #7986cb;
      border-bottom: 2px solid #7986cb;
      display: inline-block;
      padding-right: 3em;
      padding-bottom: 0.5em;
      margin: 0 0 3em 0;
      padding: 0 3em 0.5em 0; }
      #main-wrapper > #container > header > * {
        margin: 0;
        padding: 0; }
      @media (max-width: 799px) {
        #main-wrapper > #container > header {
          border-bottom: none;
          padding: 2em; } }

@media (min-width: 800px) and (max-width: 1000px) {
  .columns {
    flex-direction: column;
    /* affichage vertical */ } }

.rows {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column; }

.columns > * {
  width: 50%; }
  @media (min-width: 800px) and (max-width: 1000px) {
    .columns > * {
      width: 90%; } }
  @media (max-width: 799px) {
    .columns > * {
      width: 100%; } }

.rows > *, .columns > * {
  margin: 5px; }
  @media (max-width: 799px) {
    .rows > *, .columns > * {
      margin: 5px 0; } }
  @media (min-width: 800px) and (max-width: 1000px) {
    .rows > *, .columns > * {
      margin: 5px 0; } }
  .rows > *.card:last-child, .columns > *.card:last-child {
    margin-bottom: 0; }
  .rows > *.card:first-child, .columns > *.card:first-child {
    margin-top: 0; }

.columns > .rows {
  padding: 0 !important; }

.columns > .rows {
  margin-top: 0;
  padding: 5px 5px; }

.card {
  padding: 20px;
  background-color: white; }
  .card label {
    display: block;
    margin: 20px 0; }
  .card input {
    height: 60px; }
  .card input:not([type="button"]) {
    border: 5px solid #7986cb;
    width: 75%;
    padding-left: 1em;
    text-transform: none !important; }
    .card input:not([type="button"]):focus {
      border-color: #ffb74d; }
  .card input[type="submit"] {
    background-color: #7986cb;
    color: white;
    border: none;
    width: 250px;
    text-align: center;
    border: 1px solid #7986cb;
    margin-top: 45px;
    padding: 0; }
    .card input[type="submit"]:active, .card input[type="submit"]:hover, .card input[type="submit"]:focus {
      border: 1px solid #7986cb;
      height: 60px; }

ul.unstyled {
  padding: 0; }
  ul.unstyled > li {
    padding: 0;
    margin: 2px;
    list-style: none; }

ul.dashed {
  list-style-type: none; }
  ul.dashed > li {
    padding: 5px; }
    ul.dashed > li:before {
      content: "- "; }

ul.btns > li {
  height: 47px;
  line-height: 47px; }
  ul.btns > li .btn {
    margin: 0; }
  ul.btns > li:before {
    clear: both; }
