#main-menu {
	width:$MENU_WIDTH;
	margin-left:$MARGIN_BIG;
	background-color: $COLOR_FOREGROUND;
	@extend .bg-sdw;
	text-align:center;
	padding-bottom:$BUTTON_HEIGHT;

	@include medium {
		width:$MD_MENU_WIDTH;
	}

	.more {
		display:none;
	}
	@include phone {
		width:$XS_MENU_WIDTH;
		margin:0 0 0 0;
		padding-bottom:0;
		margin-bottom:20px;
		&.off {
			.welcome, .user-picture, nav {
				display:none;
				height:0;
				-webkit-transition: height 0.7s ease-out;
				transition: height 0.7s ease-out;
			}
			.more {
			    display: block;
			    width:auto;
			    text-align:right;
				line-height: 2*$MD_BUTTON_HEIGHT;
				flex: 2 0px; 
				padding-right:1em;
			}
			.logo {
				flex: 1 auto;
				> img {
					margin:0;
					height:2*$MD_BUTTON_HEIGHT;
					width:auto;
				}
			}
			#logo-container {
			    display: flex;
			}
		}
	}


	> div, > nav {
		margin-bottom:$BUTTON_HEIGHT;
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.logo, .user-picture {
		display:block;
		margin:0 auto;
	}
	.logo > img {
		margin-top:10px;
		width:90%;
		margin:5%;
	}

	.user-picture {
		@extend .img-circle;
		@extend .outline-secondary;
		width:70%;
		@include phone {
			width:40%;
		}
	}

	nav {
		border-top:1px solid $COLOR_GRAY;
		> .news {
			padding:$MARGIN_SMALL;
			min-height: $BUTTON_HEIGHT;
			border-bottom:1px solid $COLOR_GRAY;
			border-right: $OUTLINE_SIZE solid $COLOR_SEC;
			font-size:14px;
		}
		> a {
			@extend .font-button;
			display:block;
			height: $BUTTON_HEIGHT;
			line-height: $BUTTON_HEIGHT;
			border-bottom:1px solid $COLOR_GRAY;
			&.active, &:active {
				border-right: $OUTLINE_SIZE solid $COLOR_PRI;
			}
		}
	}
}