/**
 *
 * Fonts
 *
 */
.font-title {
	font-family: Roboto;
	font-weight: 300;
	font-style: normal;
	font-size: 45px;
}
.font-button {
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	font-size: $BUTTON_FONT_SIZE;
	text-transform: uppercase;
}

.font-subheading {
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	font-size: 15px;
}

.font-body {
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
}

.font-link {
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	text-decoration:underline;
}

em {
	font-weight: 500;
	font-style: normal;
}

.color-secondary {
	color:$COLOR_SEC;
}