.publication-container {
	clear:both;
	&:before, &:after {
		clear:both;
	}
}
.publication {
	@extend .bg-sdw;
	background-color:white;

	width:30%;
	margin-right:2%;
	@include medium {

		width:45%;
		margin-right:5%;
	}
	@include phone {
		width:100%;
		margin-right:0;
	}
	margin-top:0;
	display:inline-block;
	float:left;

  	height:$CARD_BUTTON_HEIGHT;
  	margin-bottom: 1*$CARD_BUTTON_HEIGHT/3;
  	position:relative;
	.legend {
		display:inline-block;
		padding:$MARGIN_SMALL;
		width:auto;
		float:left;
		margin:20px;
		text-overflow: hidden;
		overflow: hidden;
	}
	.border{
		position:absolute;
		right:0;
  		height:$CARD_BUTTON_HEIGHT;
		width:$BUTTON_WIDTH;
  		list-style:none;
  		margin:0;
  		height:0;
		> li {
			text-overflow:hidden;
			overflow:hidden;
			color:white;
			float:right;
			display:block;
			width:$OUTLINE_SIZE*2;
			padding-left:$OUTLINE_SIZE*2;
			a:active, a:link, a:hover, a:visited {
				display:block;
				height:$CARD_BUTTON_HEIGHT;
				line-height: $CARD_BUTTON_HEIGHT;
				width:auto;
				color:white;
				font-family: Roboto;
				font-weight: 500;
				font-style: normal;
				font-size: $BUTTON_FONT_SIZE;
				text-decoration: none;
				&:hover {
					text-decoration:underline;
				}
			}
			&.treebank {
				background-color: $COLOR_Treebank;
			}
			&.transcription {
				background-color: $COLOR_Transcription;
			}
			&.commentary {
				background-color: $COLOR_Commentary;
			}
			&.text-alignment {
				background-color: $COLOR_Text_Alignment;
			}
			&.passage {
				background-color: $COLOR_Passage;
			}
			&.annotations {
				background-color: $COLOR_Annotations;
			}
			&.text-annotations {
				background-color: $COLOR_Text_Annotations;
			}
			&.translation {
				background-color: $COLOR_Translation;
			}
			&:hover {
				width:auto;
				padding-right:$OUTLINE_SIZE*2;
			}
		}
	}

}